* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}
/* <!-- session 1 --> */

.navbar-nav li a {
	color: white;
	font-size: 12px;
	margin: 15px;
}

.abot {
	background-image: url(./img/about-header.jpg);
	/* width: 100vw; */
	/* height: 100px; */
}

.abots {
	background-color: rgba(0, 0, 0, 0.8);
	/* height: 100%; */
	/* width: 100%; */
}

.about {
	padding: 110px 0px;
}
.about h1 {
	font-weight: 100;
	font-size: 30px;
}
.about p {
	padding: 10px 0px;
}

/* <!-- session 2 --> */
.inner img {
	width: 100%;
}
.inner {
	position: relative;
}

.inner::before {
	position: absolute;
	content: '';
	background-color: rgb(33, 37, 41, 0.5);
	height: 0%;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #28abe3;
	margin: 10px;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
	background-color: #28abe3;
	color: white;
	margin: 10px;
}

.inner:hover::before {
	height: 100%;
}
.ican {
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 1;
	display: none;
}
.inner:hover .ican {
	display: block;
}

.ican i {
	/* padding: 0px 50px; */
	background-color: #28abe3;
	padding: 10px;
	border-radius: 50px;
	margin-left: 50px;
	color: white;
}
.ican p {
	color: white;
	padding: 20px 0px;
}

/* <!-- session 6 --> */

.mart {
	background-color: #28abe3;
	width: 160vw;
	height: 40vh;
}

.martin img {
	border-radius: 100px;
	height: 150px;
	margin-top: 30px;
}

.martin h3 {
	margin-top: 20px;
}

.martin i {
	font-size: 50px;
	color: #28abe3;
}

.button {
	text-align: center;
	border: 1px solid red;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin: 100px;
}

.inner img {
	height: 350px;
}

/* session 3 */

/* <!-- footer// --> */

.foot {
	background-color: rgb(34, 34, 34);
	padding-top: 100px;
	padding-bottom: 100px;
}

.foote h5 {
	color: white;
	font-weight: 300;
	font-size: 20px;
}

.foote p {
	color: #777;
	margin-top: 20px;
}

.foote h6 {
	margin-top: 20px;
	font-size: 13px;
}

.foote h6 a {
	text-decoration: none;
	color: #777;
}

.foote h6 a:hover {
	color: #28abe3;
}

.color {
	background-color: rgb(27, 27, 27);
	width: 100vw;
	height: 10vh;
}

.last h6 {
	color: #777;
	font-size: 12px;
	line-height: 19px;
}

.last span {
	color: #28abe3;
}
.modal-dialog {
	max-width: 1024px;
}
.modal-dialog .modal-body {
	min-height: 75vh;
	max-height: 90vh;
	padding: 1rem;
}
.modal-dialog .modal-body img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.modal-dialog .modal-header {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
}
.modal-dialog .modal-content {
	background-color: #555;
}
.modal-dialog > .modal-content * {
	border: none !important;
}
